html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #333333;
  font-family: Tahoma, Geneva, sans-serif;
  color: white;
  height: 100%;
}

a {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 26px;
  color: white;
}

p {
  padding: 5px 10px;
  font-size: 26px;
  color: white;
}

div.navbar {
  display: flex;
  flex-direction: row;
  height: max-content;
  padding: 5px;
  justify-content: flex-end;
  width: 100%;
}
div.left {
  width: 45%;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: row;
}
div.images {
  transform: rotate(45deg);
  height: 70%;
  width: 70%;
}
div.right {
  width: 45%;
  justify-content: left;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

div.search {
  width: 70%;
}

img.logoImage {
  height: 150px;
  width: 150px;
  margin: 3%;
  object-fit: cover;
  overflow: hidden;
}
img.logoImage1 {
  height: 150px;
  width: 150px;
  margin: 3%;
  object-fit: cover;
  overflow: hidden;
}

p.textHome {
  margin-bottom: 5%;
  margin-top: 3%;
  width: 70%;
}

@media only screen and (max-width: 768px) and (min-width: 570px) {
  div.images {
    transform: rotate(45deg);
    height: 40%;
    width: 40%;
  }
  img.logoImage {
    height: 0;
    width: 0;
    margin: 3%;
    visibility: hidden;
  }
  img.logoImage1 {
    height: 150px;
    width: 150px;
    margin: 3%;
    object-fit: cover;
    overflow: hidden;
  }
  div.right {
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div.left {
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 570px) {
  div.images {
    transform: rotate(45deg);
    height: 70%;
    width: 70%;
  }
  img.logoImage1 {
    height: 125px;
    width: 125px;
    margin: 3%;
    object-fit: cover;
    overflow: hidden;
  }
  img.logoImage {
    height: 0;
    width: 0;
    margin: 3%;
    visibility: hidden;
  }
  div.right {
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div.left {
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
  }
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 5px;
  color: rgb(255, 255, 255);
}